* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  border: 1px solid rgb(0, 0, 0);
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.footer .container {
  text-align: center;
}
.menu ul {
  display: flex;
  list-style-type: none;
}
.menu li {
  margin: 0 10px;
  padding: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.content .container {
  display: flex;
  flex-wrap: wrap;
}
.content h1 {
  width: 100%;
}
.content .col-3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 0 5px -2px black;
}
.content table {
  width: 100%;
}
.content th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
.content td {
  padding: 1%;
  margin: 10px;
}
a {
  text-decoration: none;
}
.btn__add {
  background-color: rgb(27, 65, 65);
  padding: 15px;
  color: #fff;
  font-family: 700;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__update {
  background-color: green;
  padding: 15px;
  color: #fff;
  font-family: 700;
  width: 200px;
}
.btn__detele {
  background-color: red;
  padding: 15px;
  color: #fff;
  font-family: 700;
  width: 200px;
}
